@model Trackify.ELayer.User

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
</head>
<body>
    <div id="mainPage" class="container" style="margin-top: 50px">
        <div class="form-group">
            <label class="control-label" for="displayName">DisplayName</label>
            <input type="text" class="form-control" id="displayName" placeholder=@Model.DisplayName>
        </div>
        <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder=@Model.Country>
        </div>
        <div class="form-group">
            <label class="control-label" for="birthdate">Birth Date</label>
            <input type="text" class="form-control" id="birthdate" placeholder=@Model.DateOfBirth>

        </div>
        <div class="form-group">
            <label class="control-label" for="userid">USER ID</label>
            <input type="text" class="form-control" id="userid" placeholder=@Model.UserId>

        </div>
        <div class="form-group">
            <label class="control-label" for="follower">FollowerCount</label>
            <input type="text" class="form-control" id="follower" placeholder=@Model.FollowerCount>
        </div>
        <button id="update" style="margin-top: 10px;">SAVE</button>
    </div>

    <script>
        $("#update")
            .click(function() {
                if ($("#displayName").val() !== "" &&
                    $("#country").val() !== "" &&
                    $("#birthdate").val() !== "" &&
                    $("#userid").val() !== ""&&
                        $("#follower").val() !== "") {
                    debugger;
                    $.post("/Admin/confirmUpdate",
                        {
                            Id: @Model.Id,
                            DisplayName: $("#displayName").val(),
                            Country: $("#country").val(),
                            DateOfBirth: $("#birthdate").val(),
                            Userid: $("#userid").val(),
                            FollowerCount: parseInt($("#follower").val())                         
                        },
                        function() {
                            window.location.href = "/";
                           /* window.close();
                            window.opener.location.reload(false);*/
                        });
                } else {
                    alert("Oops, Bir Hata Oluştu");
                }
            });

    </script>
</body>

</html>