@{
    ViewData["Title"] = "Please Sign In";
}
<h2 class="text-center h2">STOP!</h2>
<div>
    <h3 class="text-center h3">You Need To sign in before continue;</h3>
    <div style="padding: 20px 20px 20px 20px; "><img class="img-responsive img-rounded center-block " src="~/images/you-shall-not-pas.jpg" /></div>
    <a href="~/login" type="button" class="btn btn-lg btn-success center-block">Sign in with Spotify</a>
</div>
