@model IEnumerable<Trackify.ELayer.User>

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/jquery.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/homepage.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Trackify</a>
            </div>
           
           @foreach (var person in @Model)
           {
               if (person.UserRole == 1)
               {
                   <h4  style="display: inline-block; float: right; margin-top: 17px;">@person.DisplayName</h4>
               }
           }        
            <a id="adminButton" href="#" class="btn btn-primary" style="float: right; margin-top: 6px; margin-right: 10px;">Admin Panel</a>
        </div>
    </div>

            <div class="container" style="margin-top: 50px">
                <div class="jumbotron" style="float: right; display: block">
                    <table id="table">
                        <tbody>

                            @foreach (var person in @Model)
                            {
                                if (!string.IsNullOrEmpty(person.DisplayName) && person.UserRole == 0)
                                {
                                    <tr>
                                        <td>
                                            <h4 name="person" id="goProfile" class="elements" style="cursor: pointer">@person.DisplayName</h4>
                                            <!--<h4 name="person" id="goProfile" class="elements" style="cursor: pointer"></h4>-->
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    if (person.UserRole == 0)
                                    {
                                        <tr>
                                            <td>
                                                <h4 name="person" id="goProfile" class="elements" style="cursor: pointer">@person.UserId</h4>
                                                <!--<h4 name="person" id="goProfile" class="elements" style="cursor: pointer"></h4>-->
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>

                <!----<a id="goProfile" href="#" class="btn btn-primary">Go Profile</a>-->
                <div name="users">

                </div>

                <div class="siteFooter">
                    <p>2017 - Trackify</p>
                </div>
            </div>

            <script src="~/js/homepage.js"></script>
</body>

</html>
